extends layout

block head
	link(rel='stylesheet', href='/stylesheets/account.css')

block content
	- if(merchantInfo){
		.frame
			.info
				.col-md-6
					table.center
						tr
							td.col-md-2
								img#merlogo(src='https://promohunter-merchantstation.herokuapp.com/'+merchantInfo[0].logo)
							td.col-md-10
								h3= merchantInfo[0].merchantName
						tr
							td.left.subtitle(colspan='2') Company Description
						tr
							td(colspan='2')= merchantInfo[0].description
						tr
							td.left.subtitle(colspan='2') Store Location
							for l, m in merchantInfo[0].location
								tr
									td.left(colspan='2')= (m+1)+'. '+l.typedAddress
				.col-md-6#second
					.slideshow-container
						for p, q in merchantInfo[0].pictures
							.mySlides.center
								.numbertext 1 / 3
								img(src=p.path)
								.text=p.caption
						a.prev(onclick='plusSlides(-1)') ❮
						a.next(onclick='plusSlides(1)') ❯
					br
					div(style='text-align:center')
						span.dot(onclick='currentSlide(1)')
						span.dot(onclick='currentSlide(2)')
						span.dot(onclick='currentSlide(3)')
	- }else{
		.frame
			form(method='POST', action='/account', enctype='multipart/form-data')
				.form-body
					.form-group.col-md-12
						h5 You have not yet created your profile. Please fill the form below.
						h5.msg #{msg}
					.form-group.col-md-6
						label Merchant Name
						input.form-control.readonly(type='text', value=session.user, readonly='')
					.form-group.col-md-6
						label Logo
						input(type='file', name='logo')
					.form-group.col-md-12
						label Company Description
						textarea.form-control(rows='5', name='description')
					.form-group.col-md-4#pic1
						label Picture
						img#pplus.sign.pointer(src='/images/plus.png', onclick='add_picture()')
						img#pminus.sign.pointer(src='/images/minus.png', onclick='delete_picture()')
						input(type='file', name='picture')
					.form-group.col-md-8
						label Caption
						input.form-control(type='text', name='caption')
					.form-group.col-md-12#loc1
						label Store Location
						img#lplus.sign.pointer(src='/images/plus.png', onclick='add_location()')
						img#lminus.sign.pointer(src='/images/minus.png', onclick='delete_location()')
						input.form-control(type='text', name='location')
					input.hidden(type='text', id='picNo', name='picNo')
					input.hidden(type='text', id='locNo', name='locNo')
				.bottom
					input#updatebtn.btn(type='submit', value='Update')
	- }

block js
	script(src='/javascripts/account.js')