extends layout

block head
	link(rel='stylesheet', type='text/css', href='../stylesheets/campaign.css')
	link(rel="stylesheet", href="https://unpkg.com/js-datepicker/dist/datepicker.min.css")

block content
	.card.text-center#frame
		.card-header
			ul.nav.nav-tabs.card-header-tabs
				li.nav-item.pointer
					a.nav-link(onclick="tabnav(event, 'past')") Past
				li.nav-item.pointer
					a.nav-link.active(onclick="tabnav(event, 'current')") Current
				li.nav-item.pointer
					a.nav-link(onclick="tabnav(event, 'upcoming')") Upcoming
				li#campaignbtntab
					button#newcampaignbtn(onclick='show_campaign_form()') + New Campaign
		.card-body#past.tabcontent
			table.table.table-hover
				thead
					tr
						th Coupons
						th Name
						th Starting Date
						th Ending Date
						th Location
						th Remaining Coupon
				tbody
				each pcampaign, p in past
					tr
						td
							a(href='/coupon?searchkey='+pcampaign.campaignName)
								img.opsbtn.pointer(src='/images/view.png')
							span &nbsp
						td= pcampaign.campaignName
						- var startingDate = JSON.stringify(pcampaign.startingDate);
						- var startingDateStr = startingDate.substring(1, 11);
						td= startingDateStr
						- var endingDate = JSON.stringify(pcampaign.endingDate);
						- var endingDateStr = endingDate.substring(1, 11);
						td= endingDateStr
						td= pcampaign.address
						td= pcampaign.couponLimit
		.card-body#current.tabcontent
			table.table.table-hover
				thead
					tr
						th Coupons
						th Name
						th Starting Date
						th Ending Date
						th Location
						th Remaining Coupon
				tbody
				each ccampaign, c in current
					tr
						td
							img.opsbtn.pointer(src='/images/add.png', onclick='show_coupon_form(\''+ccampaign._id+'\', \''+ccampaign.location.coordinates+'\')')
							span &nbsp
							a(href='/coupon?searchkey='+ccampaign.campaignName)
								img.opsbtn.pointer(src='/images/view.png')
						td= ccampaign.campaignName
						- var startingDate = JSON.stringify(ccampaign.startingDate);
						- var startingDateStr = startingDate.substring(1, 11);
						td= startingDateStr
						- var endingDate = JSON.stringify(ccampaign.endingDate);
						- var endingDateStr = endingDate.substring(1, 11);
						td= endingDateStr
						td= ccampaign.address
						td= ccampaign.couponLimit
		.card-body#upcoming.tabcontent
			table.table.table-hover
				thead
					tr
						th Coupons
						th Name
						th Starting Date
						th Ending Date
						th Location
						th Remaining Coupon
				tbody
				each ucampaign, u in upcoming
					tr
						td
							img.opsbtn.pointer(src='/images/add.png', onclick='show_coupon_form(\''+ucampaign._id+'\', \''+ucampaign.location.coordinates+'\')')
							span &nbsp
							a(href='/coupon?searchkey='+ucampaign.campaignName)
								img.opsbtn.pointer(src='/images/view.png')
						td= ucampaign.campaignName
						- var startingDate = JSON.stringify(ucampaign.startingDate);
						- var startingDateStr = startingDate.substring(1, 11);
						td= startingDateStr
						- var endingDate = JSON.stringify(ucampaign.endingDate);
						- var endingDateStr = endingDate.substring(1, 11);
						td= endingDateStr
						td= ucampaign.address
						td= ucampaign.couponLimit
	.popupform#campaignform.animated
		form(method='POST', action='/campaign/create')
			img.pointer(src='/images/cancel.png', id='cancel_btn', onclick='hide_campaign_form()')
			.form-group.col-md-12
				label Campaign name
				input.form-control(name='campaignname', type='text')
			.form-group.col-md-6
				label Starting date 
				input.form-control(id='startdate', name='startdate', type='text')
			.form-group.col-md-6
				label Ending date
				input.form-control(id='enddate', name='enddate', type='text')
			.form-group.col-md-6
				label Location
				input(id='markerpos', name='location', type='text')
				input.form-control(id='address', name='address', type='text', readonly='')
			.form-group.col-md-6#mapformgroup
				div#map
			.form-group.center.col-md-12
				input.btn(type='submit', value='Create')
	.popupform#couponform.animated
		form#addcouponform(method='POST', enctype='multipart/form-data')
			img.pointer(src='/images/cancel.png', id='coupon_cancel_btn', onclick='hide_coupon_form()')
			.form-group.col-md-12
				label Picture: 
				input(name='picture', type='file')
			.form-group.col-md-12
				label Expiry date: 
				input.form-control(id='expirydate', name='expirydate', type='text')
			.form-group.col-md-12
				label Description:
				textarea.form-control(name='description', type='text', rows='8')
			.form-group.center.col-md-12
				input.btn(type='submit', value='Add')
			input.hidden(type='text', name='coordinates', id='coordinates')

block js
	script(src="https://unpkg.com/js-datepicker")
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBjLzcJetGHFSzSzcI6ivDy9zJSz734Ong&language=en&callback=initMap', async='', defer='')
	script(src='/javascripts/campaign.js')